@import "../core/Variables.scss";

.container {
    position : relative;
    width : 90%;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap : wrap;
    padding : 30px; 
    &__link{
        &--info{
            font-family: $font-family;
            font-size: 20px;
            text-decoration: none;
            color: $light-green;
        }
    } 
  }
  
  .article {
    position: relative;
    max-width : 300px;
    height : 200%;  
    background-color : $light-green;
    margin : 50px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }

  .container .article:hover {
    height : 320px;    
  }
  
  .container .article .article__card__user {
    position : relative;
    width : 260px;
    height : 260px;
    top : -15%;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container .article .article__card__user img {
    max-width : 100%;
  }
  
  .container .article .article__card__info {
    position : relative;
    top : -80px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container .article:hover .article__card__info {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
     font-family: $font-family;
  }

  .fa-solid, .fa-brands{
    color: $dark-blue;
  }