@import "./core/Reset.scss";
@import "./core/Variables.scss";

html{
    background-image: url(../images/background1.png);
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
}

.header{
    text-align: center;
    height: 30%;
    &__img{
        margin-bottom: 30px;
        width: 350px;
        @media all and (min-width: 768px){
            width: 450px;
        }
        @media all and (min-width: 1200px){
            width: 550px; 
        }
    }
}

.text{
    color: $light-blue;
    font-family: $font-family;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}